---
import Layout from '../layouts/Layout.astro';
import Cuadrado from '../components/Cuadrado.astro';

const title = 'Test';

---

<Layout title={title}>

  <h1 class="text-5xl text-red-500">{title}</h1>

  <Cuadrado />

</Layout>